<p>Cohabitate RPG is a live role-playing game for roommates. Inspire yourself and your friends to keep your living space tidy by making a game of it! Pick one person to lead your quest to clean living, and we'll help you through the rest.</p>
