<p>Cohabitate RPG is a live role-playing game for roommates. Inspire yourself and your friends to keep your living space tidy by making a game of it! Pick one person to lead your quest to clean living, and we'll help you through the rest.</p>

<footer>
  <span id="spooky">SpookyGhost Design Labs, 2015</span>
  <ul id="links">
    <li id="link">Ghost Link</li>
    <li id="link">Empty Link</li>
    <li id="link">Dummy Link</li>
  </ul>
</footer>
