<%= render "shared/navbar" %>
<div class="app-container">
  <div id="top-bar">I will have information</div>
  <div id="middle-bar">I too will have information</div>
  <div id="main"></div>
</div>

<script>$(Cohabitate.initialize);</script>
