<div id="top-bar">

  <%= render "shared/navbar" %>

</div>

<div class="app-container">
  <div id="game-bar">
  </div>
  <div id="game-main"></div>
</div>

<script>$(Cohabitate.initialize({
  userID: <%= current_user.id %>,
  questID: <%= current_user.quest ? current_user.quest.id : nil %>
}));</script>
