<navbar id="top-bar" class="third group"></navbar>

<div id="root-el">
  <div class="app-container">
    <div id="game-bar" class="third"></div>
    <div id="game-main"></div>
  </div>
</div>

<%= render "shared/footer" %>

<script>$(Cohabitate.initialize({
  questID: <%= current_user && current_user.quest ?  current_user.quest.id : 0 %>
}));</script>
