<navbar id="top-bar" class="third group"></navbar>

<div id="root-el">
  <div class="app-container">
    <div id="game-bar" class="third"></div>
    <div id="game-main"></div>
  </div>
</div>

<script>$(Cohabitate.initialize());</script>

<%= render "shared/footer" %>
