<h2>Sign In</h2>

<from action="<%= session_url %>" method='post'>
  <%= auth_token_input %>
  <label>Email
    <input type="text" name="user[email]">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Sgin In">
</form>
