<h2 id="list-type"><%= list.escape('type') %></h2>

<ul class="items-list">
</ul>

<% if (Cohabitate.currentUser.escape('is_leader') === "true") { %>
  <a class="new-item" href="#">Create new item</a>
<% } %>
