<h2 id="list-type"><%= list.escape('type') %></h2>

<ul class="items-list">
  <% items && items.each( function (item) { %>
    <ul class="item">
      <li id="attr"><%= item.escape('label') %></li>
      <li id="attr"><%= item.escape('points') %> Points</li>
    </ul>
  <% }) %>
</ul>
