<h1>CohabitateRPG</h1>

<% if(Cohabitate.currentUser.isSignedIn()) { %>

  <p>
    Signed in as:
    <a href="#users/<%= Cohabitate.currentUser.id %>"><%= Cohabitate.currentUser.escape("email") %></a> |
    <a href="#" id="sign-out-link">Sign Out</a>
  </p>

<% } else { %>

  <p>
    <a href="#users/new">Sign Up</a> |
    <a href="#session/new">Sign In</a>
  </p>

<% } %>

<hr>
