<h1><a class="logo" href="/">COHABITATE</a></h1>

<% if(Cohabitate.currentUser.isSignedIn()) { %>

  Signed in as:
  <a href="#users/<%= Cohabitate.currentUser.id %>"><%= Cohabitate.currentUser.escape("email") %></a> |
  <a href="#" id="sign-out-link">Sign Out</a>

<% } else { %>

<span class="right-links">
    <a href="#">How it Works</a>
    <a href="#">Blog</a>
    <a href="#">Guest Login</a>
    <a href="#">Press</a>
    <span class="session-links">
      <a href="#users/new">Sign Up</a>
      <a href="#session/new">Sign In</a>
    </span>
</span>

<% } %>
