<h1><a class="logo" href="/">COHABITATE</a></h1>

<% if(Cohabitate.currentUser.isSignedIn()) { %>

  <span class="right-links session-links">
    <a href="#profile"><%= Cohabitate.currentUser.escape("username") %></a>
    <a href="#" id="sign-out-link">Sign Out</a>
  </span>

<% } else { %>

<span class="right-links">
    <a class="about" href="#">About</a>
    <span class="session-links">
      <a href="#users/new">Sign Up</a>
      <a href="#session/new" class="js-modal-open">Sign In</a>
    </span>
</span>

<% } %>
