<form class="form group">
  <h2>Sign Up</h2>

  <label>Email</label>
  <input type="Email" name="user[email]"
    value="<%= user.escape("email") %>">



  <label>Password</label>
  <input type="Password" name="user[password]"
    value="<%= user.escape("password") %>">

  <button href="#" id="special">Join existing quest</button>
  <button>Create Account</button>

</form>

<p class="info group">Cohabitate RPG is a live role-playing game for roommates.
Inspire yourself and your friends to keep your living space tidy by making a game of it!
Pick one person to lead your quest to clean living, and we'll help you through the rest.</p>
