<ul class="user-attributes">
  <li>
    <div id="picture-container">
      <img class="profile-picture" src="<%= Cohabitate.currentUser.escape('image_url') %>" id="user-profile-image">
    <div>
  </li>
  <li>
    <a href="#profile"><%= user.escape("username") %></a>
  </li>
</ul>
