<ul class="user-attributes">
  <li>
    <li id="picture-container">
      <img class="profile-picture" src="<%= Cohabitate.currentUser.escape('image_url') %>" id="user-profile-image">
    </li>
  </li>
  <li><%= user.escape("username") %></li>
  <li><a href="#profile">My Profile</a>
  </li>
</ul>
