<div class="user-modal-backdrop">
  <div class="user-modal">
    <ul class="user-attributes">
      <li>Profile Picture Goes Here</li>
      <li><%= user.escape("username") %></li>
      <% if ( user.get("is_leader") ) { %>
        <li>Quest Leader</li>
      <% } %>
      <li><%= user.escape("email") %></li>
    </ul>

    <% if (Cohabitate.currentUser.id === user.id) { %>
      <a href="#">Edit My Profile</a>
    <% } %>

    <a class="user-modal-dismiss">To the Quest!</a>
  </div>
</div>
