<div class="user-modal-backdrop">

  <div class="user-modal">

    <ul class="user-attributes">
      <li id="picture">Profile Picture Goes Here</li>

      <li id="username">Username: <%= user.escape("username") %>
        <% if (Cohabitate.currentUser.id === user.id) { %>
          <a class="edit" id="username">Edit</a>
        <% } %>
      </li>

      <% if ( user.get("is_leader") ) { %>
        <li id="leader">Quest Leader</li>
      <% } %>

      <li id="email">Email: <%= user.escape("email") %>
      <% if (Cohabitate.currentUser.id === user.id) { %>
        <a class="edit" id="email">Edit</a>
      <% } %>
    </li>
    </ul>

    <% if (Cohabitate.currentUser.id === user.id) { %>
      <form class="image-form">
        <label>Change Image</label>
        <input for="Change Image" type="file" name="user[image]" id="input-user-image">
        <img class="image-preview" src="<%= Cohabitate.currentUser.escape('image_url') %>" id="preview-user-image">

        <button>Update</button>
      </form>
    <% } %>



    <button class="user-modal-dismiss">To the Quest!</button>
  </div>

</div>
