<div class="user-modal-backdrop">

  <div class="user-modal">

    <ul class="user-attributes">
      <li>Profile Picture Goes Here</li>
      <li>Username: <%= user.escape("username") %></li>
      <% if ( user.get("is_leader") ) { %>
        <li>Quest Leader</li>
      <% } %>
      <li>Email: <%= user.escape("email") %></li>
    </ul>

    <label>
      Image
      <input type="file" name="user[image]" id="input-user-image">
    </label>

    <br>

    <img src="" id="preview-user-image" width="50">

    <% if (Cohabitate.currentUser.id === user.id) { %>
      <a href="#">Edit My Profile</a>
    <% } %>

    <a class="user-modal-dismiss">To the Quest!</a>

  </div>

</div>
