<ul class="user-attributes">
  <li>Profile Picture Goes Here</li>
  <li><%= user.escape("username") %></li>
</ul>


<% if (Cohabitate.currentUser.id === user.id) { %>
  <a href="#">Edit My Profile</a>
<% } %>
