<div class="user-detail">
  <div id="quest-name"><%= quest.escape('title') %></div>
  <%= user.escape('username') %>
  <a class="toggle" id="roomies">Show Roomies</a>
</div>

<div class="members-detail hide-detail">
  <ul id="quest-members-list">
    <% quest.members().each(function (member) { %>
    <li id="quest-member">
      <a href="/#users/<%= member.id %>"><%= member.escape('username') %></a>
    </li>
    <% }) %>
  </ul>
  <a class="toggle" id="user">Show My Info</a>
</div>
