<container class="profile-display group"></container>

<container class="quest-info">
  <div class="quest-name"><%= quest.escape('title') %></div>

</container>

<ul class="quest-members group">
  <% quest.members().each(function (member) { %>
    <li class="quest-member"><%= member.escape('email') %></li>
  <% }) %>
</ul>
