<container class="profile-display group"></container>

<container class="quest-info group"></container>

<container class="quest-members group">
  <ul id="quest-members-list">
    <% quest.members().each(function (member) { %>
      <li id="quest-member"><%= member.escape('username') %></li>
    <% }) %>
  </ul>
</container>
