<container class="profile-display group"></container>

<container class="quest-info group">
  <div class="quest-name"><%= quest.escape('title') %></div>
</container>

<container class="quest-members group">
  <ul class="quest-members-list">
    <% quest.members().each(function (member) { %>
      <li class="quest-member"><%= member.escape('username') %></li>
    <% }) %>
  </ul>
</container>
