<container class="profile-display group"></container>

<container class="quest-info group"></container>

<container class="quest-winner group">
  <ul class="winner-display">

    <div class="thumb-container">
      <img class="image-full" src="<%= winner.escape('image_url') %>">
    </div>
    <li class="winner-label">Currently in First: </li>
    <li class="current-winner"><%= winner.escape('username') %></li>
  </ul>
</container>
