<div class="quest-from-modal-backdrop">

  <div class="quest-form-modal group">

    <h2>Begin your Quest</h2>

    <p>All you need to do is pick a title, and we'll get started.</p>

    <label>
      Title
      <input type="text" name="quest[title]">
    </label>

    <input type="hidden" name="quest[leader]" value=user>

    <button>Create</button>

  </div>

</div>
