<form class="item-form group">

  <label>Label</label>
  <input for="label" type="text" name="item[label]">

  <label>Description</label>
  <input for="description" type="textarea" name="item[description]">

  <label>Points</label>
  <input for="points" type="integer" name="item[points]" value="<%= parseInt(10) %>">

  <button>Submit</button>
  <a class=".cancel">Cancel</a>
</form>
