<form class="item-form group">

  <label>Label</label>
  <input for="Label" type="text" name="item[label]">

  <label>Description</label>
  <input for="Description" type="textarea" name="item[description]">

  <label>Points</label>
  <input for="Points" type="integer" name="item[points]" value="<%= parseInt(10) %>">

  <input type="hidden" name="item[leader_id]" value="<%= Cohabitate.currentUser.id %>">
  <input type="hidden" name="item[list_id]" value="<%= list.id %>">
  <input type="hidden" name="item[completed]" value="false">

  <button>Submit</button>
  <a class="cancel">Cancel</a>
</form>
