<% items && items.each( function (item) { %>
  <ul class="item">
    <li id="attr"><%= item.escape('label') %></li>
    <li id="attr"><%= item.escape('points') %> Points</li>
    <li id="completed">▢</li>
    <div class="description hidden"><%= item.escape('description') %></div>
  </ul>
<% }) %>
