<%= render "shared/navbar" %>

<ul class="user-info">
  <li><%= current_user.email %></li>
  <li>
    <form action="/#/quest" method="POST">
      <%= auth_token_input %>
      <input type="hidden" name="_method" value="get">
      <button class="play-button">My Quest</button>
    </form>
  </li>
<ul>
