<footer>
  <span id="spooky">SpookyGhost Design Labs, 2015</span>
  <ul id="links">
    <li id="link">Ghost Link</li>
    <li id="link">Empty Link</li>
    <li id="link">Dummy Link</li>
  </ul>
</footer>
