/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */

html, body, div, navbar, ul, li, h1, h2, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  outline: none;
  box-sizing: content-box;
  -webkit-appearance: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*CLEARFIX*/

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*STYLES*/

/*CONSISTENT ELEMENTS*/

html {
  background-image: url('cabin.png');
  background-position: top;
  background-width: 100%;
}

body {
  font-family: sans-serif;
  font-weight: 300;
}

.third {
  position: relative;
  color: #000;
  background: #f2ffff;
  border: 1px solid #888;
  width: 98%;
  display: block;
  margin: 5px auto;
  border-radius: 5px;
}

button {
  padding: 5px;
  background: #fff;
  font-size: 14px;
  border-radius: 5px;
  margin: 3px;
}

/*TOP BAR*/

navbar .logo {
  padding: 10px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: #5f9ea0;
  float: left;
}

navbar .logo:hover {
  color: #444;
}

.session-links button:hover {
  background: #f2ffff;
  border: 1px solid #c32148;
  color: #c32148;
}

.profile-button {
  float: left;
  border: 1px solid #888;
}

.session-button {
  float: right;
  border: 1px solid #888;
}

/*MIDDLE BAR*/

#game-bar {
  min-height: 135px;
}

.profile-display {
  float: left;
  height: 125px;
  width: 125px;
  margin: 5px 35px 5px 5px;
  outline: 1px solid #888;
}

.quest-info {
  float: left;
  margin-left: 35px;
}

.quest-name {
  float: left;
  position: absolute;
  bottom: 5px;
}

.quest-members {
  float: right;
  margin: 15px;
}

.quest-member:hover {
  color: firebrick;
}

/*LIST VIEW*/

.lists {
  margin: 0 auto;
  width: calc(100% - 10px);
}

.list {
  float: left;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #888;
  background: #fff;
  min-height: 150px;
  min-width: 45px;
  width: 20%;
}

#list-type {
  font-size: 28px;
  color: #555;
}



/*SPLASH PAGE*/

p {
  background: #f2ffff;
  height: auto;
  padding: 20px;
  margin-top: 100px;
}

footer {
  background: #555;
  color: #b5bbbb;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 5px;
  margin: auto;
}
